{{extend 'layout.html'}}

{{for employee in data_employee:}}
<ul>
    <li>{{=employee.name}}</li>
    <li>{{=employee.email}}</li>
    <li>{{=employee.age}}</li>
</ul>
{{pass}}

{{for person in people:}}
    {{=person}}<br/>
{{pass}}
<br/>
<b>Inner Join Legajos</b><br/>
{{for legajo in legajos:}}
    {{=legajo.employee.name}}'s legajo is: {{=legajo.students.legajo}}<br/>
{{pass}}
<br/>
<b>Left Join Legajos:</b><br/>
{{for legajo2 in legajos2:}}
    {{=legajo2.employee.name}}'s legajo is: {{=legajo2.students.legajo}}<br/>
{{pass}}
<br/>
<b>Self Reference</b><br/>
{{for registro in registros:}}
    {{=registro.employee.name}}'s boss is {{=registro.boss.name}}<br/>
{{pass}}
<br/>
<b>Crossed Reference</b><br/>
{{for asignado in asignados:}}
    Proyect N°: {{=asignado.id_proyecto}}, is assigned to {{=asignado.legajo_propietario.legajo}}<br/>
{{pass}}